.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > * {
    flex: 1 0 auto;
    min-height: 100%;
    max-width: 100%;
}

.table-container {
    margin-right: -1rem;
    margin-left: -1rem;
    min-width: 100%;
    box-sizing: border-box;
}

.table-item {
    width: 30rem;
    padding: 0 1rem 0 1rem;
    max-width: 50%;
    box-sizing: border-box;
}

.table-item > a > div {
    margin-bottom: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

.table-item-text {
    max-width: 100%;
}

.table-item-text > h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: .5rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #dad8de;
}

.table-item-text > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #898395;
}